body {
    background-color:#d8e7c0;
    background-image: 
    radial-gradient(circle at 100% 150%, #d8e7c0 24%, whitesmoke 25%, whitesmoke 28%, #d8e7c0 29%, #d8e7c0 36%, whitesmoke 36%, whitesmoke 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #d8e7c0 24%, whitesmoke 25%, whitesmoke 28%, #d8e7c0 29%, #d8e7c0 36%, whitesmoke 36%, whitesmoke 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, whitesmoke 10%, #d8e7c0 11%, #d8e7c0 23%, whitesmoke 24%, whitesmoke 30%, #d8e7c0 31%, #d8e7c0 43%, whitesmoke 44%, whitesmoke 50%, #d8e7c0 51%, #d8e7c0 63%, whitesmoke 64%, whitesmoke 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, whitesmoke 5%, #d8e7c0 6%, #d8e7c0 15%, whitesmoke 16%, whitesmoke 20%, #d8e7c0 21%, #d8e7c0 30%, whitesmoke 31%, whitesmoke 35%, #d8e7c0 36%, #d8e7c0 45%, whitesmoke 46%, whitesmoke 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, whitesmoke 5%, #d8e7c0 6%, #d8e7c0 15%, whitesmoke 16%, whitesmoke 20%, #d8e7c0 21%, #d8e7c0 30%, whitesmoke 31%, whitesmoke 35%, #d8e7c0 36%, #d8e7c0 45%, whitesmoke 46%, whitesmoke 49%, transparent 50%, transparent);
    background-size:100px 50px;
}

.jumbotron {
    background-color: #d8e7c0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.jumbotron h1 {
    text-align: center;
    font-size: 3.5em;
    text-decoration: overline underline;
    font-family: 'Signika', sans-serif;
}

.jumbotron a {
    color: #ba3039;
}

.jumbotron a:hover {
    text-decoration: underline;}

.container {
    background-color: whitesmoke;
}

.agencies h3 {
    text-align: left;
    padding-left: 3%;
}

.tabletitle {
    color: #ba3039;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 1em;
}

.tabledesc {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: .9em;
}

table {
    border: 2px solid whitesmoke;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid white;
    padding: 3px 4px;
}
table tbody td {
    font-size: .85em;
}
table td:nth-child(even) {
    background: #EBEBEB;
}
table thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}
table thead th {
    font-size: .95em;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table thead th:first-child {
    border-left: none;
}
table tfoot {
    font-size: .875em;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}
table tfoot td {
    font-size: 14px;
} 

.gtfstable {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gtfsvisual {
    padding: 0;
}

.VictoryContainer svg text {display: none;}

.VictoryContainer {max-height: 185px;}

.VictoryContainer svg {max-height: 185px;}
